#app{
  width: 600px;
  height:400px;
  border-radius: 5px;
  border: 1px solid #CCC;
  cursor: crosshair;
}
button{
  cursor: pointer;
}
table{
  display: none;
}
table,
td {
  border: 1px solid #333;
  text-align: center;
  padding: 5px;
}
tr{
  padding: 5px;
  text-align: center;
}
th{
  padding: 5px;
  text-align: center;
}

thead,
tfoot {
  text-align: center;
  background-color: #333;
  color: #fff;
}
